.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 32px;

  background: #18181b;
  color: white;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}

.add-button {
  background: #2563eb;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.2s;
}

.add-button:hover {
  background: #1d4ed8;
}